@media (max-width: 1140px) {
    .wrap { padding: 0 16px; }
    .menu {
        display: none;
        padding-top: 10px;
        text-align: center;
        width: 100%;
        line-height: 2;
        position: absolute;
        left: 0;
        top: 90px;
    }
    .logo {
        margin-top: 22px;
        display: inline-block;
        margin-right: 0;
    }

    .mobile {
        display: block;
    }

    .header__title {
        margin: 234px auto;
    }
    .header__menu {
        height: 90px;
        width: 100%;
        opacity: .9;
        z-index: 9;
    }

    .menu ul li {
        display: block;
    }
    .active {
        background: #000;
        display: block;
        max-height: 1000px;
    }
    .header__menu .active { border-top: 1px solid #fafafa; }
    .footer .logo { padding-top: 0; }
}

@media (max-width: 1020px) {
    .project__item {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
    #parent{
        display:flex;
        flex-flow: column;
      }
    #block{ order: 2; }
    #block1{ order: 1; }
}

@media (max-width: 600px) {
    .project__item_2 {
        display: block;
        width: 100%;
    }
}
