@media (max-width: 1140px) {
    .wrap { padding: 0 16px; }
    .menu {
        display: none;
        padding-top: 24px;
        text-align: center;
        width: 100%;
        line-height: 2;
        position: absolute;
        left: 0;
        top: 90px;
    }
    .logo {
        padding-top: 20px;
        display: block;
    }

    .mobile {
        display: block;
    }

    .header__title {
        margin: 234px auto;
    }
    .header__menu {
        height: 90px;
        width: 100%;
        opacity: .9;
        z-index: 9;
    }

    .menu ul li {
        display: block;
    }
    .active {
        background: #000;
        display: block;
        max-height: 1000px;
    }
    .header__menu .active { border-top: 1px solid #fafafa; }

    .footer .logo { padding-top: 0; }
}
