* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}
h2 {
    font-family: "Arian AMU";
    font-size: 4.5rem;
    color: #0068c9;
}
h3 { font-size: 3.5rem; }
p { font-size: 2.2rem; }

.header {
    background: url(../img/bg_header.png) no-repeat 62% center / cover;
    min-height: 980px;
    font-family: "Arian AMU";
}
.header, .content, .footer {
    box-sizing: border-box;
    width: 100%;
}
.header__menu {
    height: 110px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.wrap {
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    width: 256px;
    display: inline-block;
    margin-right: 78px;
    vertical-align: middle;
}
.menu {
    padding-top: 60px;
    font-size: 1.8rem;
    display: inline-block;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    display: inline;
    margin-left: 22px;
}
.menu__btn {
    display: inline-block;
    background: #f4cf00;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mobile {
    display: none;
    margin: 0;
    padding: 12px 15px;
    background: transparent;
    position: absolute;
    color: #e2fbf9;
    top: 26px;
    right: 20px;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* --------- */

.header__info {
    color: #fff;
    min-height: 860px;
    line-height: 860px;
}
.header__title {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.header__info h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}
.header__info p {
    font-size: 2rem;
    line-height: 1.6;
    margin: 20px 0;
}

.btn {
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid #fff;
    text-align: center;
    display: inline-block;
    padding: 20px 24px;
    text-align: center;
    text-transform: uppercase;
}
/* ---------------------- */
main { text-align: center; }

.project h2 {
    color: #000;
}
.aftore { background: #e4e4e4; }
.aftore__item {
    display: inline-block;
    width: calc(50% - 2px);
    min-width: 300px;
    min-height: 330px;
    overflow: hidden;
}
.aftore__item.right {
    background: url("../img/bg_avtor.jpg") no-repeat center center / cover;
}
.happy {
    background: url("../img/bg_heppy.jpg") no-repeat 54% center / cover;
    min-height: 480px;
    line-height: 480px;
    color: #fff;
}
.heppy__text {
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.mass-media {}
.carousel {
    padding: 60px 0;
}
.button { margin-bottom: -40px; }

.mass-media_yellow {
    display: inline-block;
    background: #f4cf00;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.mass-media_blue {
    display: inline-block;
    background: #0068c9;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-left: -3px;
}
/* ---------------------- */
.footer {
    background: #484848;
    min-height: 426px;
    color: #fff;
    padding-top: 90px;
    font-size: 1.8rem;
}
.footer-list {
    padding-bottom: 36px;
    border-bottom: 2px solid #6e6e6e;
    overflow: hidden;
}
.footer-list__item {
    float: left;
    margin: 14px;
}

.footer-bottom {
    padding-top: 36px;
}

.footer .logo {
    float: left;
    margin-right: 0;
}
.footer__copy {
    float: right;
}

/* fonts */
@font-face {
    font-family: "Arian AMU"; 
    src: url("../fonts/arnamu.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 100; 
}

@font-face {
    font-family: "Arian AMU bold"; 
    src: url("../fonts/arnamu_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Arian AMU italic"; 
    src: url("../fonts/arnamu_italic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Arian AMU italic bold"; 
    src: url("../fonts/arnamu_italic_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Material Iconic"; 
    src: url("../fonts/Material-Design-Iconic-Font.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}