* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover { color: #f4cf00; }
img {
    max-width: 100%;
    height: auto;
}
h2 {
    font-family: "regular";
    font-size: 4.5rem;
    color: #0068c9;
}
h3 { font-size: 3.5rem; }
p { font-size: 2.2rem; }

.header {
    background: url(../img/bg_header.png) no-repeat 62% center / cover;
    min-height: 980px;
    font-family: "regular";
}
.header, .content, .footer {
    box-sizing: border-box;
    width: 100%;
}
.header__menu {
    height: 110px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.wrap {
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    margin-right: 78px;
    vertical-align: middle;
}
/* ---------- */
.mobile {
    display: none;
    float: right;
    margin: 30px 0;
}
.mobile div {
    background-color: #fff;
    width: 34px;
    height: 4px;
}
.mobile__1 {
    margin-bottom: 4px;
}
.mobile__2 {
    margin-bottom: 4px;
}
.menu {
    padding-top: 60px;
    font-size: 1.8rem;
    display: inline-block;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    display: inline;
    margin-left: 22px;
}
.menu__btn {
    display: inline-block;
    background: #f4cf00;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 0.5px solid transparent;
}
.menu__btn:hover {
    background: transparent;
    border: 0.5px solid #f4cf00;
}
/* --------- */

.header__info {
    color: #fff;
    min-height: 860px;
    line-height: 860px;
}
.header__title {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.header__info h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}
.header__info p {
    font-size: 2rem;
    line-height: 1.6;
    margin: 20px 0;
}
.btn {
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid #fff;
    text-align: center;
    display: inline-block;
    padding: 20px 24px;
    text-align: center;
    text-transform: uppercase;
}
/* ---------- */
main { text-align: center; }

.project {
    font-family: "regular";
    padding-top: 70px;
    background: #ededed;
}
.project .wrap { max-width: 1160px;}
.project__item {
    display: inline-block;
    width: 50%;
    min-width: 290px;
    overflow: hidden;
    text-align: left;
    margin-right: -4px;
}
.project__item_1 {
    min-height: 320px;
    overflow: hidden;
}
.project__item_1 h2 {
    font-family: "bold";
    padding: 30px;
    color: #000;
}
.project__item_1 p { padding: 0 30px 30px; }

.project__item_2 {
    min-height: 320px;
    line-height: 320px;
    width: 50%;
    display: inline-block;
    margin-right: -4px;
    margin-top: -0px;
    font-size: 2.2rem;
    text-align: center;
}
.blue { background-color: #0068c9; }
.light { background: #8eb8df; }
.project__item_info {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}
.project__item_info img { margin-bottom: 20px; }
/* ---------- */
.aftore {
    /* background: #e4e4e4; */
    background: url("../img/avtor__bg.jpg") no-repeat center center / cover;
    min-height: 740px;
    line-height: 740px;
    text-align: left;
}
.aftore__text {
    font-family: "regular";
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.aftore__text p {
    padding: 20px 16px 30px;
    font-size: 1.8rem;
}
.text__bold {
    font-family: "italic__bold";
}
/* ---------- */
.happy {
    background: url(../img/bg_heppy.jpg) no-repeat 54% center / cover;
    min-height: 480px;
    line-height: 480px;
    color: #fff;
}
.heppy__text {
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}
/* ---------- */

.mass-media {
    /* color: #0068c9;
    font-family: "bold";
    font-size: 4.5rem; */
}
.carousel {
    padding: 60px 0;
}
.button { margin-bottom: -22px; }

.mass-media__yellow {
    display: inline-block;
    background: #f4cf00;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent;
}
.mass-media__yellow:hover {
    background: #484848;
    border: 2px solid #f4cf00;
}
.mass-media__blue {
    display: inline-block;
    background: #0068c9;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-left: -3px;
    border: 2px solid transparent;
}
.mass-media__blue:hover {
    background: #484848;
    border: 2px solid #0068c9;
}
/* ---------- */
.footer {
    background: #484848;
    min-height: 426px;
    color: #fff;
    padding-top: 90px;
    font-size: 1.8rem;
}
.footer-list {
    padding-bottom: 36px;
    border-bottom: 2px solid #6e6e6e;
    overflow: hidden;
}
.footer-list__item {
    float: left;
    margin: 14px;
}

.footer-bottom {
    padding-top: 36px;
}

.footer .logo {
    float: left;
    margin-right: 0;
}
.footer__copy {
    float: right;
}

/* fonts */
@font-face {
    font-family: "regular";
    src: url("../fonts/arnamu.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "bold";
    src: url("../fonts/arnamu_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "italic";
    src: url("../fonts/arnamu_italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "italic__bold";
    src: url("../fonts/arnamu_italic_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "material__iconic";
    src: url("../fonts/Material-Design-Iconic-Font.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
