* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-size: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}
.header {
    background: url(../img/bg_header.png) no-repeat 62% center / cover;
    min-height: 980px;
    font-family: "Arian AMU";
}
.header, .content, .footer {
    box-sizing: border-box;
    width: 100%;
}
.header__menu {
    height: 110px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.wrap {
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    width: 256px;
    display: inline-block;
    margin-right: 78px;
    vertical-align: middle;
}
.menu {
    padding-top: 60px;
    font-size: 1.8rem;
    display: inline-block;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    display: inline;
    margin-left: 22px;
}
.menu__btn {
    background: #f4cf00;
    height: 50px;
    width: 50px;
    font-size: 1.8rem;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mobile {
    display: none;
    margin: 0;
    padding: 12px 15px;
    background: transparent;
    position: absolute;
    color: #e2fbf9;
    top: 26px;
    right: 20px;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.active {
    max-height: 1000px;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
/* --------- */

.header__info {
    color: #fff;
    min-height: 860px;
}
.header__title {
    max-width: 500px;
    min-height: 350px;
    margin: 234px 0;
}
.header__info h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}
.header__info p {
    font-size: 2rem;
    line-height: 1.6;
    margin: 20px 0;
}

.btn {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px 0;
    border: 2px solid #fff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
/* ---------------------- */
.content {
    text-align: center;
}
/* ---------------------- */
.footer {
    background: #484848;
    min-height: 426px;
    color: #fff;
    padding-top: 90px;
}

/* fonts */
@font-face {
    font-family: "Arian AMU"; 
    src: url("../fonts/arnamu.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 100; 
}

@font-face {
    font-family: "Arian AMU bold"; 
    src: url("../fonts/arnamu_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Arian AMU italic"; 
    src: url("../fonts/arnamu_italic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Arian AMU italic bold"; 
    src: url("../fonts/arnamu_italic_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Material Iconic"; 
    src: url("../fonts/Material-Design-Iconic-Font.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
