.bg_full {
    overflow: hidden;
    z-index: -100;
    position: relative;
    width: 100%;
    padding-top: 0%;
    height: 100vh;
}
 
.bg_full__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
 
.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}

.overlay div {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 767px) {
    .bg_full {
        background: url('../gallery/bg.png') center center / cover no-repeat;
    }
 
    .bg_full__video {
        display: none;
    }
}

#form {
    max-width: 500px;
    margin: 0 auto 50px;
    padding-left: 4px;
    padding-right: 4px;
}